{% extends 'base.html.twig' %}

{% block title %}Hello PatientController!{% endblock %}

{% block body %}

<div class="affichagePatient">
    <h1>{{ title }}</h1>

    <table>
        <th>ID</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Tél</th>
        <th>Adresse</th>
    {% for patient in patients %}
        <tr>
            <td>{{ patient.id }}</td>
            <td>{{ patient.nom }}</td>
            <td>{{ patient.prenom }}</td>
            <td>{{ patient.telephone }}</td>
            <td>{{ patient.adresse }} {{ patient.cp }} {{ patient.ville }}</td>
            <td><a href="{{ path('patient', {id:patient.id}) }}"><button type="button">Modifier</button></a></td>
            <td><a href="{{ path('creer_sejour', {id:patient.id}) }}"><button type="button">Ajouter un séjour</button></a></td>
        </tr>
    {% else %}
        <p> Pas de patients </p>
    {% endfor %}

    </table>

    <a href="{{ path('ajout_patient') }}"><button type="button">Ajouter un patient</button></a>
</div>

{% endblock %}
