{% extends 'base.html.twig' %}

{% block title %}Gestion des séjours | Patients{% endblock %}

{% block body %}
<div class="ajouter-patient">
    <a href="{{ path('ajout_patient') }}">
        <button class="ajout-sejour-patient" type="button">Ajouter un patient</button>
    </a>
</div>
    <div class="title">
        <h1>{{ title }}</h1>
    </div>

    <table>
        <th>ID</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Tél</th>
        <th>Adresse</th>
    {% for patient in patients %}
        <tr>
            <td>{{ patient.id }}</td>
            <td>{{ patient.nom }}</td>
            <td>{{ patient.prenom }}</td>
            <td>{{ patient.telephone }}</td>
            <td>{{ patient.adresse }} {{ patient.cp }} {{ patient.ville }}</td>
            <td><a href="{{ path('patient', {id:patient.id}) }}"><button class="valid-sejour" type="button">Modifier</button></a></td>
            <td><a href="{{ path('creer_sejour', {id:patient.id}) }}"><button class="ajout-sejour-patient" type="button">Ajouter un séjour</button></a></td>
        </tr>
    {% else %}
        <p> Pas de patients </p>
    {% endfor %}

    </table>

{% endblock %}
