{% extends 'base.html.twig' %}

{% block title %}Gestion des séjours | Séjours{% endblock %}

{% block body %}

{% if is_granted('ROLE_INFIRMIER') %}

<div class="submenu">
    <button><a href="{{ path('app_affichage_sejour') }}"> Tous les séjours </a></button>
    <button><a href="{{ path('app_sejours_arrivee') }}"> Arriver patients du jour </a></button>
    <button><a href="{{ path('sejourActu') }}"> Sortie des patients</a></button>
    <button><a href="{{ path('app_sejour_a_venir') }}"> Séjours à venir</a></button>
</div>

<div class="date">
    <p>Afficher les séjours effectifs à cette date :</p>
    <input type="date" id="datepicker">
    <button class="valid-sejour" onclick="redirection()">Afficher</button>
    
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_ajoutSejour') }}">
            <button class="ajout-sejour" type="button">Ajouter un séjour</button>
        </a>
    {% endif %}
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
document.getElementById("datepicker").valueAsDate = new Date();


function padTo2Digits(num) {
  return num.toString().padStart(2, '0');
}

function redirection(){
    var date = new Date(document.getElementById("datepicker").value);
    date = padTo2Digits(date.getDate()) + '-' + padTo2Digits(date.getMonth()+1) + '-' + date.getFullYear();
    window.location.href = "/sejour/sejoursEffectif/"+date;
}
</script>
{% endif %}

<div class="title">
    <h1>{{ controller_name }}</h1>
</div>
<table>
    <thead>
        <th>Patient</th>
        <th>Service</th>
        <th>Chambre</th>
        <th>Lit</th>
        <th>Commentaire</th>
        <th>Date d'arrivée</th>
        <th>Date de sortie</th>
    </thead>
    <tbody>
{% for sejour in sejours|sort((a, b) => a.patient.nom <=> b.patient.nom) %}
    <tr>
        <td>{{ sejour.patient.nom }} {{ sejour.patient.prenom }}</td>
        <td>{{ sejour.lit.chambre.service.libelle }}</td>
        <td>{{ sejour.lit.chambre.numero }}</td>
        <td>{{ sejour.lit.id }}</td>
        <td>{{ sejour.commentaire }}</td>
        <td>{{ sejour.dateArr | date('d-m-Y')}}</td>
        <td>{{ sejour.dateSort | date('d-m-Y')}}</td>
        <td><a href="{{ path('unsejour', {id:sejour.id}) }}"><button class="valid-sejour" type="button">Afficher</button></a></td>
        {% if is_granted('ROLE_ADMIN') %}
        <td><a href="{{ path('app_modifSejourId', {id:sejour.id}) }}"><button class="valid-sejour" type="button">Modifier</button></a></td>
        {% endif %}
    </tr>
{% else %}
    <p class="message">Pas de patients</p>
{% endfor %}
    </tbody>
</table>
{% endblock %}
