{% extends 'base.html.twig' %}

{% block title %}Hello AffichageSejourController!{% endblock %}

{% block body %}
<button><a href="{{ path('app_affichage_sejour') }}"> Tous les séjours </a></button>
<button><a href="{{ path('app_sejour_du_jour') }}"> Arriver patients du jour </a></button>
<button><a href="{{ path('ajoutEtatSortie') }}"> Sortie des patients</a></button>
<button><a href="{{ path('app_sejour_a_venir') }}"> Séjours à venir</a></button>
<p>Afficher les séjours effectifs à cette date :</p>
<input type="date" id="datepicker">
<button onclick="redirection()">Afficher</button>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
function padTo2Digits(num) {
  return num.toString().padStart(2, '0');
}

function redirection(){
    var date = new Date(document.getElementById("datepicker").value);
    date = padTo2Digits(date.getDate()) + '-' + padTo2Digits(date.getMonth()+1) + '-' + date.getFullYear();
    window.location.href = "/sejour/sejoursEffectif/"+date;
}
</script>
<h1>{{ controller_name }}</h1>
<table>
    <thead>
        <th>Patient</th>
        <th>Service</th>
        <th>Chambre</th>
        <th>Lit</th>
        <th>Commentaire</th>
        <th>Date d'arrivée</th>
        <th>Date de sortie</th>
    </thead>
    <tbody>
{% for sejour in sejours|sort((a, b) => a.dateArr <=> b.dateArr) %}
    <tr>
        <td>{{ sejour.patient.nom }} {{ sejour.patient.prenom }}</td>
        <td>{{ sejour.lit.chambre.service.libelle }}</td>
        <td>{{ sejour.lit.chambre.numero }}</td>
        <td>{{ sejour.lit.id }}</td>
        <td>{{ sejour.commentaire }}</td>
        <td>{{ sejour.dateArr | date('d-m-Y')}}</td>
        <td>{{ sejour.dateSort | date('d-m-Y')}}</td>
        <td><a href="{{ path('unsejour', {id:sejour.id}) }}"><button type="button">Afficher</button></a></td>
    </tr>
    {% else %}
    Pas de séjours
{% endfor %}
    </tbody>
</table>
{% endblock %}