{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}


	<h1>Hello


	{#Le numero de l'adherent  :{{adherent.id}}{{adherent.nom}}-{{adherent.prenom}} #}

<p> Patient : 
      {{ sejour.patient.nom }} {{ sejour.patient.prenom }}         </p>
      <p> Service : 
{{sejour.lit.chambre.service.libelle}} </p>
<p> Numéro de chambre : 
        {{ sejour.lit.chambre.numero }} </p>
<p> Numéro de lit :  
        {{ sejour.lit.id }} </p>
        <p> Le commentaire : 
        {{ sejour.commentaire }} </p>

        <p> La date d'arrivée : 
        {{ sejour.dateArr | date('d-m-Y')}}
                </p>

        <p> La date de sortie : 
        {{ sejour.dateSort | date('d-m-Y')}}
               </p>

{% if sejour.etat == 0 %}
           <td><a href="{{ path('etatsejour', {id:sejour.id}) }}"><button type="button">Valider départ</button></a></td>
{% elseif sejour.etat == 1 %}
    <td><a href="{{ path('ajoutEtatSortie', {id:sejour.id}) }}"><button type="button">Valider sortie</button></a></td>
{% else %}
{% endif %}
{% endblock %}
