{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}


	<h1>Hello


	{#Le numero de l'adherent  :{{adherent.id}}{{adherent.nom}}-{{adherent.prenom}} #}

<p> Patient : 
      {{ sejour.patient.nom }} {{ sejour.patient.prenom }}         </p>
      <p> Service : 
{{sejour.lit.chambre.service.libelle}} </p>
<p> Numéro de chambre : 
        {{ sejour.lit.chambre.numero }} </p>
<p> Numéro de lit :  
        {{ sejour.lit.id }} </p>
         <p> La date d'arrivée : 
        {{ sejour.dateArr | date('d-m-Y')}}
                </p>

        <p> La date de sortie : 
        {{ sejour.dateSort | date('d-m-Y')}}
               </p>
        <p>  
         {{ form_start(form) }}
    {{ form_widget(form) }}
     {{ form_end(form) }}
 </p>  
 <script>
if({{ sejour.etat }} == 0){
        document.getElementById('commentaire_save').textContent = document.getElementById('commentaire_save').textContent + " entrée";
}
if({{ sejour.etat }} == 1){
        document.getElementById('commentaire_save').textContent = document.getElementById('commentaire_save').textContent + " sortie";
}
if({{ sejour.etat }} == 2){
        document.getElementById('commentaire_save').style.display = "none";
}
 </script>
{% endblock %}
